@import url("https://fonts.googleapis.com/css2?family=Puritan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Cormorant Garamond", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

#addLesson {
  margin-top: 16px;
  width: 20%
}

#unitHeader, #contentHeader {
  margin: auto;
  width: 30%;
  text-align: center;
  border-radius: 16px;
  background-color: #263549;
  color: white;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#addLessonParent {
  display: flex;
  justify-content: center;
}

#accordian {
  border: 2px solid #276184;
  border-radius: 16px;
  margin: 4px auto;
  width: 60%;
  color: #3179a5;
  background-color: rgb(245, 245, 245)
}

#content {
  background-color: #276184;
  color: white; 
  border-radius: 8px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  width: 60%;
}

#contentTitle {
  font-size: large;
}

#contentDescription {
  font-size: medium;
}
